.search {
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 150px;
    height: 30px;
    text-align: center;
}

.search .container-1 input {
    width: 75%;
}

.btn {
    margin-top: 10px;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: opacity 0.15;
    box-shadow: 5px 5px 10px black;
}

h1 {
    color: #007bff;
    margin-top: 0%;
    margin-bottom: -1%;
}

h2 {
    color: white;
}

h4 {
    font-size: larger;
    color: white;
}

.container {
    background-color: skyblue;
    position: relative;
}

#show-announcements-btn:hover {
    background-color: #0056b3;
}

#sidebar {
    width: 130px;
    background-color: skyblue;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.searchbtn:hover {
    opacity: 0.8;
    background-color: #0056b3;
}

.btn:active {
    opacity: 0.6;
    background-color: aqua;
}

.title {
    text-align: center;
    color: black;
    font-size: medium;
    margin-bottom: 1rem;
}

#people-btn,
#show-announcements-btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#people-btn:hover,
#show-announcements-btn:hover {
    background-color: #0056b3;
}



.table {
    width: 80%;
    position: relative;
    left: 180px;
    top: 200px;
    border-spacing: 0;
    height: 40%;
  
}

.table th,
.table td {
    padding: 12px; 
    border-bottom: 1px double rgb(0, 0,20 );
    border-top: 1px solid rgb(0, 0,20 );
    border-left: 1px double rgb(0, 0,20 ) ;
    border-right: 1px double rgb(0, 0,20 );
    text-align: center;
    font-size: 14px; 
    font-weight: 900;

   
    color: black;
}

.table th {
    background-color:skyblue; 
    font-weight: 1000; 
    font-size: 16px;
    border: double; 
}


.table th:hover,
.table td:hover {
    background-color: royalblue; 
}
