.container {
    background-color: skyblue;
}

#announcement-container {
    text-align: center;
    margin-top: 20px;
}

#show-announcements-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-announcements-btn:hover {
    background-color: #0056b3;
}

#announcements {
    margin-top: 10px;
    text-align: left;
}
