* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: rgb(36, 1, 61);
    color: white;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.title {
    text-align: center;
}


.search {
    text-align: center;
    margin-top: 20px;
}

.container-1 {
    display: inline-block;
    position: relative;
}

.example input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: black;
    background-color: white;
}

.searchbtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchbtn:hover {
    background-color: #777;
}


#dashboard-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#sidebar {
    width: 200px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

#sidebar h4 {
    color: white;
}

#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sidebar button:hover {
    background-color: #777;
}

#namesContainer {
    margin-top: 20px;
}














